
.MuiContainer-root {
  padding: 0 !important;
}

.MuiContainer-maxWidthXl {
  max-width: 100% !important;
}

.navbar-container {
  padding: 15px;
}

.main-content {
  min-height: 800px;
  padding: 15px;
}

.spinner-container {
  position: absolute;
  top: 13%;
  left: 50%;
  margin-left: -75px;
}
